* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica";
  box-sizing: border-box;
}

p {
  font-size: 14px;

}

nav {
  padding-top: 0px !important;
  padding-bottom: 0px !important;


}

a {
  color: #000000 !important;
}


.search-form {
  width: 80%;
  transform: translateY(-50%);
}

.filter-box {
  width: 20%;
}

.filter-box .search-label,
.filter-box div {
  color: #3c3c3c;
}

ul.MuiMenu-list li:hover {
  background: #C9E7CA;
}

.filter-box select {
  background: white;
  height: 58px;
}

.filter-box select,
.filter-box input[type=date],
.filter-box input[type=time],
.filter-box input[type=number] {
  padding: 16px 14px;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  color: #3c3c3c;
}

.filter-box input[type=date]:focus {
  border-color: blue !important;
}

.filter-box label {
  font-size: 14px !important;
}

#btn-carimobil {
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 4px;
  border: none;
  background: #5CB85F;
  height: 58px;
}

#btn-reset {
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 4px;
  border: none;
  background: #3b6fcf;
  height: 58px;
}

.card-container {
  width: 80%;
}



.navbar-height {
  height: 100px;
}

.owl-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.owl-next,
.owl-prev {
  height: 32px;
  width: 32px;
  border: 1px solid #c4c4c4;
  background-color: #ffffff;
}

.owl-next:hover,
.owl-prev:hover {
  transition-duration: 0.3s;
  background-color: #4caf50;
  color: white;
  border: none;
}

.our-service-list-icon {
  height: 32px;
  width: 32px;
}

#container-testimonial {
  width: 100%;
}

#cari-mobil {
  display: grid !important;
  grid-template-columns: 32.5% 32.5% 32.5%;
  justify-content: space-between;
  margin-top: 2%;

}





/* tipe driver */

/* HP Potrait */
@media (max-width: 600px) {
  .container-fluid {
    padding-left: 0% !important;
    padding-right: 0% !important;
  }

  #sidebar {
    flex-direction: column !important;
    align-items: flex-start !important;
  }

  .navbar-toggler {
    border: 0px !important;
    background-color: #f1f3ff;
    box-shadow: none !important;
  }

  .offcanvas {
    width: 50% !important;
  }

  .offcanvas-header h5 {
    padding-top: 0% !important;
  }

  #navbar-button {
    padding: 0% !important;
  }

  .navbar-brand img {
    width: 100px !important;
    height: 34px;
  }

  #navbar-logo {
    padding-left: 1% !important;
  }

  #hero {
    display: flex !important;
    flex-direction: column !important;
  }

  #hero div,
  #hero img {
    width: 100% !important;
  }

  #service-container {
    flex-direction: column;
  }

  #service-container img,
  .our-service-title {
    width: 100% !important;
    margin: 24px 0 !important;
  }

  #our-service {
    margin-left: 0 !important;
    width: 100% !important;
  }

  #whyus-card {
    flex-direction: column;
    width: 100%;
  }

  #whyus-title {
    text-align: center;
  }

  .card {
    display: flex !important;
    width: 100% !important;
    margin-bottom: 16px;
    margin-left: 0% !important;
    margin-right: 0% !important;
  }

  .testimonial-item {
    flex-direction: column !important;
  }

  .testimonial-star {
    justify-content: center;
    margin: 24px 0px;
  }

  #container-testimonial {
    width: 90% !important;
    align-items: center;
    justify-content: center;
  }

  #banner {
    padding-right: 0% !important;
    padding-left: 0% !important;
  }

  #banner-title {
    text-align: center;
    width: 60% !important;
  }

  #banner-item {
    width: 60% !important;
  }

  #banner-button {
    width: 50% !important;
    margin-top: 24px !important;
  }

  #container-faq {
    flex-direction: column !important;
    width: 90% !important;
    align-items: center;
    text-align: center;
  }

  .accordion {
    width: 100% !important;
  }

  #accordion-title {
    width: 100% !important;
  }

  #footer {
    flex-direction: column !important;
    width: 90% !important;
  }

  #footer-alamat {
    width: 100% !important;
    padding: 0% !important;
    margin-bottom: 16px;
  }

  #footer-nav {
    width: 100%;
    padding: 0% !important;
    margin-bottom: 16px;
  }

  #footer-connect-with-us {
    width: 100%;
    padding: 0% !important;
    margin-bottom: 16px;
  }

  #footer-logo {
    width: 100%;
    padding: 0% !important;
  }

  #cari-mobil {
    width: 100% !important;
    margin: 0% !important;
  }

  #tampil-mobil {
    flex-direction: column !important;
    align-items: center !important;
    width: 100% !important;
  }

  #menu-cari-mobil {
    flex-direction: column !important;
    align-items: center !important;
  }

  .select-driver,
  .select-waktu,
  .select-penumpang,
  .select-date,
  #submit-cari-mobil {
    width: 80% !important;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    margin-right: 3% !important;
  }

  #tampil-mobil .card {
    margin-right: 0% !important;
    margin-left: 0% !important;
  }

  #submit-cari-mobil {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    margin-top: 0% !important;
  }

  .btn-cari-mobil {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    margin-top: 5% !important;
  }
}

/* Potrait Tablet */

@media only screen and (max-width: 992px) and (min-width: 600px) {
  .container-fluid {
    padding-left: 0% !important;
    padding-right: 0% !important;
  }

  #sidebar {
    flex-direction: column !important;
    align-items: flex-start !important;
  }

  .navbar-toggler {
    border: 0px !important;
    background-color: #f1f3ff;
    box-shadow: none !important;
  }

  .offcanvas {
    width: 35% !important;
  }

  .offcanvas-header h5 {
    padding-top: 0% !important;
  }

  #navbar-button {
    width: 2em !important;
    height: 2em !important;
  }

  .navbar-brand img {
    width: 100px !important;
    height: 34px;
    margin-left: 6% !important;
  }

  .navbar-toggler-icon {
    width: 2em !important;
    height: 2em !important;
  }

  #hero {
    flex-direction: column !important;
  }

  #hero div,
  #hero img {
    width: 100% !important;
  }

  #hero h1,
  #hero p,
  #hero button {
    text-align: start;
  }

  #service-container {
    display: grid !important;
    grid-template-columns: 40% 60% !important;
    gap: 10px;
  }

  #service-container img {
    width: 100% !important;
  }

  #our-service {
    width: 100% !important;
    padding-right: 10% !important;
  }

  #container-testimonial {
    width: 90% !important;
    align-items: center;
    justify-content: center;
  }

  .testi-item-width {
    width: 100% !important;
  }

  #whyus-card {
    display: grid !important;
    grid-template-columns: 50% 50% !important;
    gap: 10px;
  }

  .card {
    width: 100% !important;
    justify-content: center;
    margin-left: 0% !important;
  }

  #whyus-title {
    text-align: center;
  }

  #container-faq {
    flex-direction: column !important;
    width: 90% !important;
    align-items: center;
    text-align: center;
  }

  #container-faq div {
    width: 100% !important;
  }

  #footer {
    display: grid !important;
    grid-template-columns: 65% 25% !important;
  }

  #footer-alamat {
    width: 100% !important;
    padding: 0% !important;
    margin-bottom: 16px;
  }

  #footer-nav {
    width: 100%;
    padding: 0% !important;
    margin-bottom: 16px;
  }

  #footer-connect-with-us {
    width: 100%;
    padding: 0% !important;
    margin-bottom: 16px;
  }

  #footer-logo {
    width: 100%;
    padding: 0% !important;
  }

  #tampil-mobil {
    flex-direction: column !important;
    align-items: center !important;
    width: 100% !important;
  }

  #menu-cari-mobil {
    display: grid !important;
    grid-template-columns: 50% 50%;
  }

  .select-driver,
  .select-waktu,
  .select-penumpang,
  .select-date {
    width: 80% !important;
    margin-top: 2% !important;
    margin-bottom: 2% !important;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    margin-right: 3% !important;
  }

  #tampil-mobil .card {
    margin-right: 0% !important;
    margin-left: 0% !important;
    margin-bottom: 2%;
  }

  #submit-cari-mobil {
    position: relative;
    display: grid !important;
    align-items: center !important;
    justify-content: end !important;
    margin-top: 0% !important;
    height: 100% !important;
    width: 50% !important;
    margin-right: -5% !important;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    margin-left: 32% !important;
  }

  .btn-cari-mobil {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    margin-top: 5% !important;
    height: 100% !important;
  }
}